.search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100%;
  z-index: 9999;
}

.search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background: white;
  position: absolute;
  left: 0;
  top: 380px;
}
